*{
    font-family: sans-serif;
}

.container-centered{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.btn{
    border-radius: 30px;
    border: none;
    padding: 0.6em 1.5em;
}

.blue-btn{
    background-color: #0084FD;
    color: white;
}


.btn-violet{
    background-color: #9792E4;
    color: white;
    padding: 0.6em 3em;
}



/*navbar*/

.nav-bgcolor{
    background-color: #0084FD;
}

.nav-logo{
    padding: 1em 0;
}
 .nav-logo img{
    height: 2em;
 }

 .nav-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
 }

 /*schermo grande*/
/*
.nav-links ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    

    height: 100%;

    list-style-type: none;
}

.nav-link ul li{
    width: calc(100% / 5 - (15 / 5 *4));
}

 .nav-links ul li a {
    color: white;
    text-decoration: none;
 }
/* /schermo grande*/

.nav-menu-tendina{
    color: white;
}

/*fine navabar*/





/*main*/

/*intro - section1*/

.section-bgcolor{
    background-color: #9792E4;
}

.section-uno-padding{
    padding: 3em 0;
    margin-bottom: 2em;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    padding: 2em;
    margin-bottom: 2em;
    background-color: #B5DDFF;
    border-radius: 20px;
    
}

.primacard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    padding: 2em 2em 0 2em;
    margin-bottom: 2em;
    background-color: #B5DDFF;
    border-radius: 20px;
    
}


.card h2{
    color: #0084FD;
}

.card h2.simbolo{
    font-size: 2em;
}


.primacard-testo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}


.primacard-img{
    min-width: 222px;
    
}

.primacard-img img{
    width: 100%;
    
    display: block;
    
    text-align: center;
    margin:0 auto;
}
/*fine section 1*/


/*section 2 strategic planning */
.section-due{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 3em 0;
    
}

.section-due-top{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
    color: white;
}

.section-due-bottom-bg{
    width: 90%;
    margin: 0 auto;
    background-color: white;
    border-radius: 20px;
    padding: 3em 1.5em;
}

.section-due-bottom{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;

}

.section-due .btn-violet{
    color: black;
    padding: 0.6em 0.9em;
}
/*fine section 2*/



/*section 3 partners*/
.section-tre{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    text-align: center;
    padding: 2.5em 0;
}

.section-tre h1{
    color: #9792E4;
}

.section-tre-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;


    background-color: #9792E4;
    color: white;
    padding: 1em;
    margin-bottom: 1em;  
    border-radius: 20px; 
    width: 90%;
}

.section-tre-card-top{
    min-width: 200px;
    max-width: 200px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    
    
}

.section-tre-card-top img{
    height: 100%;
    margin-left: -50px;
    
}


.section-tre-card-bottom p{
    margin-bottom: 1.5em;
}

/*fine section 3*/



/*section 4 benefits*/

.section-four{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 3em 0;
}


.section-four-title{
    text-align: center;
    color: white;
    margin-bottom: 2em;
}

.section-four-cards-container{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.section-four-card{
    display: flex;
    flex-direction: column;

    gap: 30px;
    padding: 2em 1em;

    background-color: white;
    border-radius: 30px;
    margin-bottom: 2em;
}

.numerone{
    font-size: 4em;
    color: #9792E4;
}

.section-four-card h2{
    color: #9792E4;
}
/*fine section four*/




/*section five about us*/

.section-five{
    display: flex;
    flex-direction: column;
    gap: 2em;

    padding: 3em 0;
}

.section-five h1,
.section-five h2{
    color: #9792E4;
}

.section-five-top{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.section-five-bottom{
    display: flex;
    flex-direction: column;
    gap: 1.7em;
}
.section-five-bottom span{
    font-size: 6em;
    color: #9792E4;

    position: absolute;
    top:0;
    right: 0;
}

.section-five-bottom-img{
    position: relative;

    width: 150px;
    height: 150px;

}

.section-five-bottom-img-border{
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
}

.section-five-bottom-img-border img{
    height: 100%;
}
/*fine section 5*/





/*section 6 get started*/
.section-six{
    display: flex;
    flex-direction: column;
    gap: 30px;

    color: white;
    padding: 3em 0;
    text-align: center;
}

.section-six h1{
    font-size: 5em;
    color: #FDC15F;
}

.btn-white{
    background-color: white;
    color: #9792E4;
    padding: 0.6em 3em;
}
/*fine sezione 6*/

/*fine main*/




/*footer*/
.footer-bgcolor{
    background-color: #333333;
    color: white;
    text-align: center;
}

.footer-flex{
    display: flex;
    flex-direction: column;
    gap: 5em;

    padding: 3em 0;

}
/*fine footer*/





/*inizio la parte responsive
versione tablet*/

@media screen and (min-width: 577px) {

    /*section 1*/
    .section-uno-padding{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .card{
        width: calc(100% / 3 - (15px / 3 * 2));
        justify-content: flex-start;
        margin-bottom: 15px;
    }
    
    .primacard{
        width: calc(100% / 3 * 2 - (15px / 3));
        margin-bottom: 15px;
    }   
    /*fine section 1*/


    /*section 3 partners*/
    .section-tre-card{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 25px;
    
    }

    .section-tre-card-top{
        min-width: 150px;
        max-width: 150px;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        overflow: hidden;
        
    }

    .section-tre-card-top img{
        height: 100%;
        margin-left: -35px;
        
    }
    /*ended section 3*/




/*section 4 benefits*/
.section-four-cards-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0;
}

.section-four-card{
    display: flex;
    flex-direction: column;

    width: calc(100% / 2 - (15px / 2));

    margin-bottom:15px;
}
/*fine section 4 benefits*/



/*section 5 about us*/
.section-five{
    display: flex;
    flex-direction: row;
    gap: 2em;

}
/*ended section 5*/

}

/*fine versione tablet!!!!!!!!!!!*/


/*inizio versione schermo grande*/
@media screen and (min-width: 769px){
    /*section 1*/
    .primacard{
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
       
        
    }
    /*section 1 ended*/



    /*section 2*/
    .section-due{
        display: flex;
        flex-direction: row;
        
    }   

    
    .section-due-top{
        width: calc(100% / 2 - (15px / 2));
        justify-content: flex-start;
        margin-top: 5em;
        gap: 50px;
    }


    .section-due-bottom-bg{
        width: calc(100% / 2 - (15px / 2));
        margin-top: 10em;
        
    }

/*end section 2*/

}